@media (max-width: 1399px) {
  .feature-image-box {
    display: none;
  }

  :root {
    --fs-heading: 3.2rem;
    --fs-text: 1.4rem;
    --fs-list-heading: 1.5rem;
    --fs-list-text: 1.1rem;
  }

  .hero-image-box {
    width: 75%;
  }
}

@media (max-width: 1267px) {
  .hero-shadow {
    transform: translate(-3.5rem, -2.5rem);
    min-width: 140%;
  }
}

@media (min-width: 375px) and (max-width: 829px) {
  .grid-columns-2 {
    grid-template-columns: 1fr;
  }

  .heading-primary {
    margin-bottom: -5rem;
  }

  .hero-image-box {
    margin-top: -10rem;
    width: 40%;
    margin-inline: auto;
  }

  .section-features {
    margin-top: -8rem;
  }

  .hero-shadow {
    transform: translate(-3.5rem, -2rem);
    min-width: 140%;
  }

  .grid-columns-4 {
    grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
  }
}

@media (min-width: 600px) {
  .hero-shadow {
    transform: translate(-3.5rem, -4rem);
  }
}

@media (min-width: 832px) {
  .hero-shadow {
    transform: translate(-2rem, -2.5rem);
  }
}

@media (min-width: 830px) and (max-width: 1400px) {
  .grid-columns-4 {
    grid-template-columns: repeat(2, 25%) 10%;
  }

  .hero-image-box {
    width: 60%;
  }

  .heading-primary {
    margin-bottom: -2.5rem;
  }
}
